<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Crowdfunding">Crowdfunding</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header th:replace="~{layout/header :: header}"></header>

<main layout:fragment="content">
    <!-- 각 페이지의 내용이 여기에 들어갑니다 -->testtest
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
